h1,h2,h3,h4,h5,h6{

    font-family: 'Noto Sans TC',sans-serif;
}
p,a,span,li,label{
	font-family: 'Open Sans', sans-serif;
}
img{
	max-width:100%;
}

#intro .jumbotron{
	background: url('../Pictures/mainbg.png');
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 70vh;
    margin-bottom: 0px;

}
#intro .jumbotron .container{
	position:relative;
    top: 50%;
    transform: translate(0, -50%);
}
header nav img{
    width: 175px;
}
nav li{
    margin: 0 13px;
}
nav li a{

    font-family: 'IM Fell English SC', sans-serif;
    font-size: 20px;
}

#intro img{
	border-radius: 100%;
    width: 150px;
}
#intro h5{
	margin-top: 22px;
    font-size: 16px;
}
p.lead{
	color: black;
	line-height: 31px;
}
#second{

    height: 750px;
	padding: 80px 0px;
}
.wrapper
{
	padding-bottom: 90px;
}

.divider
{
	position: relative;
	margin-top: 10px;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

#second h5{

	font-size: 20px;
}


.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 13%;
    margin-left: 15%;
    list-style: none;
}

.carousel-inner > .item > img {
    height:400px;
    max-width: 100%; 
    position: absolute; 
  }
  .img1 {
    background-image: url('../Pictures/BG.png');
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed !important;
    background-size: cover !important;   
    background-position: center !important;
   }

#third{

    height: 600px;
	padding: 80px 0px;
}

#fourth {
    background: rgb(248, 248, 248);
    padding: 80px 0px;
}

.card-deck{

    margin-bottom: 20px;
}
.card{

    border-radius: 7%;
    text-align: left;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.08);
	padding: 0px;
	margin: 0 5px;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}
.card img{

    border-radius: 7% 7% 0 0;
}
.card a:link, .card a:visited {
    display: inline-block;
    border-radius: 4px;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    font-weight: 400;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    text-align: center;
    width: 100px;
    cursor: pointer;
    margin: 5px 0 5px 0;
  }
  .card span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .card  a span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .card a:hover span {
    padding-right: 25px;
  }

  .card a:hover span:after {
    opacity: 1;
    right: 0;
  }
footer{
	border-top: 1px solid rgba(0,0,0,0.09);
    padding: 10px;

}
footer h4{
	font-size: 20px;
    margin-bottom: 20px;
    margin-top: 10px;

}

footer a{
	color:#f05f5c;
}
footer a:hover{
	color:#f05f5c;
}

  @media only screen and (max-width: 768px) {
	#intro h5 {
	    margin-bottom: 50px;
	}
	#fourth .card{
		margin-bottom: 60px;
	}
	footer h4 {
	    font-size: 17px;
	    margin-top: 30px;
	    margin-bottom: 18px;
	}
}