h1,h2,h3,h4,h5,h6{

    font-family: 'Noto Sans TC',sans-serif;
}
p,a,span,li,label{
	font-family: 'Open Sans', sans-serif;
}
#intro .jumbotron{

    height:70vh;
}
#intro .jumbotron .container{
	position:relative;
    top: 50%;
    transform: translate(0, -50%);
}
header nav img{
    width: 175px;
}
nav li{
    margin: 0 13px;
}
#second{

    height: 800px;
	padding: 80px 0px;
}
.wrapper
{
	padding-bottom: 90px;
}

.divider
{
	position: relative;
	margin-top: 90px;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}
.frame {  
    height: 160px; /*can be anything*/
    width: 160px; /*can be anything*/
    position: relative;
}
#carouselExampleCaptions img{

    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}
#third{

    height: 800px;
	padding: 80px 0px;
}
#fourth{

    height: 800px;
	padding: 80px 0px;
}